<div>
    <h4><b>Quem somos?</b><br></h4>
    Somos uma empresa que visa <b>facilitar e agilizar</b> o serviço de transporte de pequenas a grandes móveis. A Easy
    Transport é a plataforma que conecta o usuário que deseja realizar uma mudança de objeto(s) com um fornecedor de
    serviço.
<br><br>


    <b>Funciona de forma rápida:</b>
<br>
    As carrinhas são divididas em três diferentes categorias (A,B ou C). O usuário escolhe o modelo que necessita,
    clique em simular, se estiver de acordo com o preço avance com seu pedido e depois basta aguardar para que algum
    motorista aceite seu pedido de transporte.
<br><br>


    Além de facilitar os transportes de objetos, a plataforma proporciona o cadastro de motoristas que desejam
    participar da nossa trajetória. Para isto, deverá preencher os requisitos necessários e depois basta se cadastrar em
    nosso site com a sua carrinha.
<br><br>


    <b>Com Easy Transport é sem problemas!</b>
</div>