<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzCollapsedWidth]="0"
    [nzZeroTrigger]="zeroTrigger">
    <div class="logo">Login</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="home" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="home"></i>
        <span>Home</span>
      </li>
      <li nz-menu-item routerLink="order" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="compass"></i>
        <span>Simulação</span>
      </li>
      <li nz-submenu  nzTitle="Organização" nzIcon="appstore">
        <ul>
          <li nz-menu-item [routerLink]="['/enterprise', 'quem-somos']" routerLinkActive="ant-menu-item-selected">
            <i nz-icon nzType="global" nzTheme="outline"></i>
            <span>Quem Somos?</span>
          </li>
          <li nz-menu-item [routerLink]="['/enterprise', 'parceiros']" routerLinkActive="ant-menu-item-selected">
            <i nz-icon nzType="deployment-unit" nzTheme="outline"></i>
            <span nz-tooltip nzTooltipPlacement="rightTop" nzTooltipTitle="Parceiros & Projetos">
              Parceiros & Projetos
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="content-header">
        <div class="logo-site">
          <img src="assets/images/logo.png" />
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <!-- Router  -->
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div>
        <i nz-icon nzType="facebook" nzTheme="outline" class="icon-footer" style="color: #2d4aec;" ></i>
        <i nz-icon nzType="skype" nzTheme="outline" class="icon-footer"  style="color: #03A9F4;"></i>
        <i nz-icon nzType="youtube" nzTheme="outline" class="icon-footer"  style="color: #f44336;"></i>
        <i nz-icon nzType="instagram" nzTheme="outline" class="icon-footer"  style="color: #9c27b0;"></i>
        <i nz-icon nzType="phone" nzTheme="outline" class="icon-footer"  style="color: #464646;"></i>
      </div>
    </nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>