/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

body{
    font-family: 'Inconsolata', monospace;
}

.ant-layout-content {
    -webkit-box-flex: 1;
    flex: auto;
    min-height: auto; 
}